# Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Android Studio
.navigation/
captures/
*.apk
*.aab
output.json

# Local configuration file
local.properties

# Android
*.ap_
*.dex
*.class
bin/
gen/
.externalNativeBuild
.cxx

# iOS
*.xcuserstate
*.xcworkspace/xcuserdata/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM
Pods/

# macOS
.DS_Store

# Kotlin
*.kotlin_module

# KMM
.kotlin/
